.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-container > div {
  background-color: aqua;
  border: 1px solid azure;
}
